{% extends 'base.html' %}
{% load static %}
{% block meta_description %} Get the best of graphics here {% endblock %}
{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="shap_pattern d-none d-lg-block">
            <img src="{% static 'portfolio/img/about/grid.png' %}" alt="">
        </div>
        <div class="social_links">
            <ul>
                <li><a href="https://www.facebook.com/Biobam-Mobile-Graphics-108525513986541/"> <i
                            class="fa fa-facebook"></i> </a></li>
                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <div class="slider_text text-center">
                        <h3>
                            Hello This is Emmanuel
                        </h3>
                        <span>Creative Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- service_area  -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                    <span>Service Provided</span>
                    <h3>Build brands campaigns <br>
                        & digital projects</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{% static 'portfolio/img/svg_icon/1.svg' %}" alt="">
                    </div>
                    <h3>Graphic design</h3>
                    <p>Let me make your graphics for you, are you on a low budget? Send a mail to me and let's talk.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{% static 'portfolio/img/svg_icon/2.svg' %}" alt="">
                    </div>
                    <h3>Web design</h3>
                    <p>Let me make your website for you, are you on a low budget? Send a mail to me and let's talk.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service text-center">
                    <div class="icon">
                        <img src="{% static 'portfolio/img/svg_icon/3.svg' %}">
                    </div>
                    <h3>3d Design</h3>
                    <p>Let me make your 3d graphics for you, are you on a low budget? Send a mail to me and let's talk.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ service_area  -->

<!-- portfolio_area -->
<div class="portfolio_area portfolio_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title white_text text-center">
                    <span>Portfolios</span>
                    <h3>Some of my awesome <br>
                        stuffs here</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ portfolio_area -->

<!-- portfolio_image_area  -->
<div class="portfolio_image_area">

    <div class="container">

        <div class="row">
            {% for project in projects %}
            <div class="col-xl-6 col-md-6">

                <div class="single_Portfolio">

                    <div class="portfolio_thumb">
                        <img src="{{ project.image.url }}">
                    </div>
                    <a href="{{ project.image.url }}" class="popup popup-image"></a>
                    <div class="portfolio_hover">
                        <div class="title">
                            <h3>{{ project.title }} </h3>
                        </div>
                    </div>
                </div>

            </div>

            {% endfor %}


        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="more_portfolio text-center">
                    <a class="line_btn" href="{% url 'portfolio' %}">More Folio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ portfolio_image_area  -->

<!-- about_me  -->
<div class="about_me">
    <div class="about_large_title d-none d-lg-block">
        About
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="about_e_details">
                    <h3>About me</h3>
                    <p>I’m Afolabi Emmanuel Abiodun, a freelance creative designer, web
                        developer and a 3d artist, I love to create stuffs for both fun and money. I
                        enjoy achieving things nerdily and also proffesionally. <br><br>

                        Lately I’ve been doing some website development. Using django and flask.
                        <br>
                        <br>

                        I live in Ogbomoso, Nigeria and i’m on the lookout for interesting projects and nice people
                        doing amazing stuff. Are you looking for a designer, 3d artist or web developer? Don’t
                        hesitate to call or send mail.
                    </p>
                    <div class="download_cv">
                        <a class="boxed-btn3" href="{% static 'portfolio/cv_1.pdf' %}">Download CV</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="about_img">
                    <div class="color_pattern d-none d-lg-block">
                        <img src="{% static 'portfolio/img/about/color_grid.png' %}" alt="">
                    </div>
                    <div class="my_Pic">
                        <img src="{% static 'portfolio/img/about/about1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ about_me  -->

<div class="counter_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_counter text-center">
                    <h3>
                        <span class="counter">520 </span><span>+</span>
                    </h3>
                    <p>Total Projects</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_counter text-center">
                    <h3>
                        <span class="counter">244 </span>
                    </h3>
                    <p>On Going Projects</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_counter text-center">
                    <h3>
                        <span class="counter">95 </span> <span>%</span>
                    </h3>
                    <p>Job Success</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}